li {
    display: inline-block;
    padding: 0.75rem;
    color:darkgray
  }
  
  ul {
    margin-left: -3rem;
    margin-top: 0rem;
    background-color: black;
  }
  
  h2 {
    font-size: xx-large;
    text-align: center;
    color:grey;
    padding: 2rem;
  }

  h3 {
    font-size: xx-large;
    color:grey;
  }
  
  li:first-of-type {
    font-size: large;
  }
  
  .small {
    font-size: medium;
  }
  
  input {
    width: 80%;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  
  textarea {
    width: 80%;
    margin-left: 3rem;
    height: 5.5rem;
  }
  
  li:nth-of-type(2) {
    background-color:rgb(122, 122, 121);
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
    border: 2px solid rgb(122, 122, 121);
  }

  .carousel {
    height: 15rem;
    background-color:rgb(122, 122, 121);
    margin-top: -1rem;
    margin-left: -1rem;
  }

  .inline-block-center {
    display: flex;
    justify-content: space-between;
    border: 3rem solid white;
  }

  article {
    padding-top: 35%;
    padding-left: 32%;
    background-color: rgb(122, 122, 121);
  }
